*{
    font-family: "Fira Sans";
    font-weight: 400;
}

a, li, ul {
    text-decoration: none;
    list-style-type: none;
    color: black;
}




/*HEADER-TOP*/

.header-top{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.nav_list_top{
    display: flex;
    gap: 100px;
    margin-right: 250px;
}

.icon-location{
    position: absolute;
    left: -30px;
    top: 5px;

}

.icon-location img{
    width: 20px;
    height: 20px;
}

.info_header{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    width: 100%;
    line-height: 1;
    position: relative;
}

.nav_info_number a{
    font-weight: 600;
}

.nav_info_city_grey{
    color: #808B99;
}

.search_icon a img {
    width: 24px;
    height: 24px;
}



/*HEADER-DOWN*/
.nav_block{
    display: flex;
    justify-content: space-between;

}

.header-down{
    display: flex;
    background: linear-gradient(272deg, #093689 -18.74%, #2F80ED 111.87%);
    padding: 25px 0;
}

.nav_list_down {
    display: flex;
    padding-left: 0;
    gap: 100px;
    margin: 0;
}

.nav_item_down{
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.message_icon{
    display: flex;
    gap: 20px;
}



#menu-header{
    display: flex;
    padding-left: 0;
    gap: 100px;
    margin: 0;

}


.nav_list_down .menu-item a{
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}


/*Footer Form*/

.footer-form-block{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #dddffa;

}

.question-title{
    color: var(--Gray-1, #333);
    font-size: 36px;
    font-weight: 600;
    line-height: normal;
}

.question-text, .questions_item{
    color: var(--Gray-2, #4F4F4F);
    font-size: 18px;
    line-height: 22px;
}

.others-questions, .others-questions-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.others-questions{
    margin: 15px 0 0 50px;
}

.contact-form {
    display: flex;
    justify-content: center;
    border-radius: 8px;
}


.contact-form .form-group {
    margin-bottom: 25px;
}


.form-name-email{
    display: flex;
    gap: 20px;
}



.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 5px;
    border: none;
}

.contact-form .form-group textarea {
    height: 100px;

}

.contact-form .btn {
    display: flex;
    justify-content: center;
    width: 200px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form .btn:hover {
    background-color: #0056b3;
}


/*FOOTER*/


.footer-down-block{
    opacity: 0.9;
    background: var(--dark, #093689);
    padding: 78px 0;
}

.left_footer_block{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nav_footer_icon{
    margin-top: 40px;
}

.nav_footer_icon ul{
    display: flex;
    gap:15px;
    padding-left: 0;
    
}

.text_footer_logo{
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 300;
    padding-top: 10px;
}

.adress_block{

    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    gap: 40px;
    align-items: end;
}

.adress_info_footer{
    justify-content: end;
    display: flex;
    flex-direction: column;
}

.adress_info_grey{
    color: #B3C3DF;
}

.number_info_footer{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav_center_block {
    display: flex;
    gap: 50px;
    justify-content: center;
}


.main_center_foot{
    padding-bottom: 20px;
}
.item_center_foot.main_center_foot a{
    color: #FFFFFF;
    font-weight: 600;
}

.nav_center_footer ul{
    padding-left: 0;
}

.nav_center_footer a{
    color: #B3C3DF;
    font-size: 14px;
}

.footer_item_new{
    border-radius: 2px;
    background: var(--mid, #0071E4);
    width: 38px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: -20px;
    top: 0;
}

.new_item{
    position: relative;
    font-size: 12px;
}

#menu-footer_1{
    display: flex;
    gap: 50px;
}

.menu-item-has-children>a{
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}



/*SECTION SLIDER*/

.top{
    max-width: 500px;
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    line-height: 1;
    margin-top: 146px;
    margin-bottom: 111px;
}

.tittle_slide, .subtitle_slide, .text_slide{

    color: #FFFFFF;
    font-size: 36px;
    font-weight: 700;
}

.subtitle_slide{
    font-weight: 400;
}

.text_slide{
    font-size: 24px;
    font-weight:400;
    margin-top: 28px;
    margin-bottom: 33px;
    line-height: 1.2;
}

.btn_slide{
    border-radius: 4px;
    background: var(--mid, #0071E4);
    max-width: 230px;
    text-align: center;
    padding: 18px 50px;
    cursor: pointer;

}

.btn_slide a{
    color: #FFFFFF;
    font-size: 16px;

}


.mySwiper{


}


.swiper_btn{
    color: #FFFFFF;

}



.swiper-slide{
    width: 100%;
    height: 75vh;
    background-size: cover;
    background-position: center;
    object-fit: cover;


}


/*INFO  BLOCK*/
.info_up{
    position: relative;
}
.big_title{
    color: var(--mid, #0071E4);
    font-size: 90px;
    font-weight: 800;
    opacity: 0.05;
}

.small_title{
    color: var(--dark, #093689);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

.text-title{
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 115%;
    width: 70%;
    margin: 55px auto 65px auto;
}

.info_nav_title{
    color: var(--dark, #093689);
    font-size: 36px;
    font-weight: 600;
}

.info_nav_subtitle{
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 149%;
}

.our_info_nav{
    margin-bottom: 75px;
}


/*ABOUT US  BLOCK*/

.about_us_block{
    background: var(--light, #F0F4FA);
    padding: 75px 125px;
}

.__title-about-us{
    color: var(--Gray-1, #333);
    font-size: 36px;
    font-weight: 600;
}

.__text-about-us{
    color: var(--Gray-2, #4F4F4F);
    font-size: 18px;
    letter-spacing: 0.36px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.btn-about-us{
    border-radius: 4px;
    background: var(--mid, #0071E4);
    padding: 17px 70px;
    color: #FFFFFF;
}



/*NEWS BLOCK*/


.news_up{
    position: relative;
}
.big_title_news{
    color: var(--mid, #0071E4);
    font-size: 90px;
    font-weight: 800;
    opacity: 0.05;
    display: flex;
    justify-content: center;
}

.small_title_news{
    color: var(--dark, #093689);
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

.text-title_news{
    color: var(--Gray-2, #4F4F4F);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    line-height: 115%;
    width: 70%;
    margin: 55px auto 65px auto;
}

.news-btn-block{
    display: flex;
    justify-content: space-around;
    border-radius: 4px;
    border: 1px solid var(--Gray-5, #E0E0E0);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 37px;

}

.news-btn-block a{
    padding: 10px 0;
    color: var(--Gray-1, #333);
    line-height: 120%;
    text-align: center;
}

.btn-news-item{

    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-news-item:hover {
    background: #2F80ED;
    border-radius: 10px;
    transform: scale(1.2);
}

.card-title{
    color: var(--Gray-1, #333);
    font-size: 26px;
    font-weight: 500;
}

.card-text{
    font-size: 18px;
}

.card {
    border: none;
    box-shadow: 0px 12px 15px 0px rgba(0, 24, 69, 0.10);
}

.card-body-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color: var(--Gray-3, #828282);
    font-size: 18px;
}

.btn-card-block{
    border-radius: 4px;
    background: var(--mid, #0071E4);
    max-width: 230px;
    text-align: center;
    padding: 18px 50px;
    cursor: pointer;
    margin: 58px auto 100px auto;

}

.btn-card-block a{
    color: #FFFFFF;
}

.partners-block{
    margin-bottom: 50px;
}

.partners-block .col-2{
    display: flex;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    align-items: center;

}

.partners-block .col-2:hover{
    background: #FFFFFF;
    box-shadow: 10px 5px 15px 5px rgba(0, 24, 69, 0.40);

}


/*NEws page-block*/

.news-page-block{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*Some css*/

.card img {
    height: 200px;
}


/*Catalog Sidebar*/

.catalog-blog{
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--light, #F0F4FA);
}

.sidebar {
    width: 100%;
    max-width: 250px;
    background-color: #FFFFFF;
    border-right: 1px solid #ececec;
    box-shadow: 0px 12px 15px 0px rgba(0, 24, 69, 0.05);

}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 25px 15px; /* отступы внутри каждого пункта */
    border-bottom: 1px solid #ececec; /* граница между пунктами */
}

.sidebar ul li a {
    font-size: 20px;
    color: #333;
    display: block; /* чтобы ссылка занимала весь блок пункта */
}

.sidebar ul li a:hover {
    color: #2F80ED;
    cursor: pointer; /* тип курсора при наведении */
}

.card-catalog-block .btn{
    width: 100%;
}

.card-catalog-block{
    margin-top: 50px;
}


/*Сертифікети*/

.certificate-block {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    padding: 16px 0;
}

.certificate-thumbnail {
    margin-right: 16px;
}

.certificate-thumbnail img {

    height: auto;

}

.certificate-info .certificate-title{
    margin: 0 0 8px 0;
    font-weight: 600;
    font-size: 24px;
}

.certificate-info .certificate-descr {
    margin: 0;
    color: var(--Gray-2, #4F4F4F);
    font-size: 18px; /
}

/*Accordion*/
.accordion-body{
    padding: 0;
}

.accordion-button:not(.collapsed){
    background: #FFFFFF;
}

.table{
    margin: 0;
}

.table tr td{
    border: 1px solid #8f8f8f;
}

.table tr th{
    font-weight: 500;
    text-align: center;
    border: 1px solid #8f8f8f;
    background: var(--mid, #c7daf1);
}
.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    color: black;
}
.accordion-item:first-of-type>.accordion-header .accordion-button {
    color: var(--mid, #0071E4);
}