*{
    font-family: "Fira-Sans", serif;
    font-weight: 400;
}

a, li, ul {
    text-decoration: none;
    list-style-type: none;
    color: black;
}








/*HEADER-TOP*/

.header-top{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;

}

.nav_list_top{
    display: flex;
    gap: 100px;
    margin-right: 250px;
}

.icon-location{
    position: absolute;
    left: -30px;
    top: 5px;

}

.icon-location img{
    width: 20px;
    height: 20px;
}

.info_header{
    display: flex;
    flex-wrap: wrap;
    max-width: 120px;
    width: 100%;
    line-height: 1;
    position: relative;
}

.nav_info_number a{
    font-weight: 600;
}

.nav_info_city_grey{
    color: #808B99;
}

.search_icon a img {
    width: 24px;
    height: 24px;
}



/*HEADER-DOWN*/
.nav_block{
    display: flex;
    justify-content: space-between;

}

.header-down{
    display: flex;
    background: linear-gradient(272deg, #093689 -18.74%, #2F80ED 111.87%);
    padding: 25px 0;
}

.nav_list_down {
    display: flex;
    padding-left: 0;
    gap: 100px;
    margin: 0;
}

.nav_item_down{
    font-size: 18px;
    font-weight: 500;
    color: #FFF;
}

.message_icon{
    display: flex;
    gap: 20px;
}






/*FOOTER*/


.footer{
    opacity: 0.9;
    background: var(--dark, #093689);
    padding: 78px 0;
}

.left_footer_block{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nav_footer_icon{
    margin-top: 40px;
}

.nav_footer_icon ul{
    display: flex;
    gap:15px;
    padding-left: 0;
    
}

.text_footer_logo{
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 300;
    padding-top: 10px;
}

.adress_block{

    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    gap: 40px;
    align-items: end;
}

.adress_info_footer{
    justify-content: end;
    display: flex;
    flex-direction: column;
}

.adress_info_grey{
    color: #B3C3DF;
}

.number_info_footer{
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.nav_center_block {
    display: flex;
    gap: 50px;
    justify-content: center;
}


.main_center_foot{
    padding-bottom: 20px;
}
.item_center_foot.main_center_foot a{
    color: #FFFFFF;
    font-weight: 600;
}

.nav_center_footer{
    padding-left: 0;
}

.item_center_foot a{
    color: #B3C3DF;
    font-size: 14px;
}

.footer_item_new{
    border-radius: 2px;
    background: var(--mid, #0071E4);
    width: 38px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    right: -20px;
    top: 0;
}

.new_item{
    position: relative;
    font-size: 12px;
}


